{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h1>hello {{user.username}} welcome to doctor page</h1>
    <p>first_name :{{user.first_name}}</p> 
     <p>Last name  :{{ user.last_name }}</p>
    <p>profile_picture  : {{user.profile_picture}}
 </p>
     <p>Address  :{{user.address_line1 }}</p>
     <p>City:{{user.city}} </p>
    <p>State: {{user.state}} </p>
    <p>Pincode:{{ user.pincode}}</p>
    <p>Is Doctor: {{user.is_doctor}}</p>
    <p>Is patient: {{user.is_patient}} </p>

</div>
{% endblock body%}